{% extends 'base.html' %}
{% block content %}
{% include "settings_nav.html" %}
<div>
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div>
            <label for="password">기존 비밀번호</label>
            <input type="password" id="password" name="password" class="form-control" value="{{ form.password.data or ''}}">
        </div>
        <div>
            <label for="password_new">새 비밀번호</label>
            <input type="password" id="password_new" name="password_new" class="form-control" value="{{ form.password_new.data or ''}}">
        </div>
        <div>
            <label for="password_new2">새 비밀번호 (확인)</label>
            <input type="password" id="password_new2" name="password_new2" class="form-control" value="{{ form.password_new2.data or ''}}">
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}