{% extends 'base.html' %}
{% block content %}
<!-- 질문 등록 -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-from my-3">     <!-- action 속성 없음 : 나 자신에게 전달 -->
        {{ form.csrf_token }}   <!-- secret key -->
        <!-- 오류표시 Start -->
        {% for field, errors in form.errors.items() %}      <!-- form의 필드에서 error 발생 시 -->
        <div class="alert alert-danger" role="alert">       <!-- 필드에 대한 에러 alert 출력 -->
            <strong>{{ form[field].label }}</strong> : {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <!-- 오류표시 End -->

        <div class="mb-3">        <!-- bootstrap : form-group 에 마진 사라짐 > mb-3 사용ㄴ -->
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.data or ''}}">       <!-- 오류 시 데이터 안날라가도록 처리 -->
        </div>
        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or ''}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>

<!--        {{ form.subject.label }}                        &lt;!&ndash; form(QuestionForm)의 subject label &ndash;&gt;-->
<!--        {{ form.subject(class="form-control") }}        &lt;!&ndash; form(QuestionForm)의 subject 객체 생성 (textbox), 부트스트랩 스타일 적용 &ndash;&gt;-->

<!--        {{ form.content.label }}-->
<!--        {{ form.content(class="form-control") }}-->

    </form>
</div>
{% endblock %}