<!-- 필드 오류 -->
{% for field, errors in form.errors.items() %}
<div class="alert alert-danger" role="alert">
    <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
</div>
{% endfor %}
<!-- flash 오류 : info 가 아닐때만 div로 message 출력 (2022-07-02 수정) -->
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category != 'info' %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}